@import "tailwindcss";
#root{
    height: 100dvh;
    width: 100dvw;
    padding: 20px;
    background-color: #162556;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dice-conntainer{
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 1rem;
}
.dice{
    cursor: pointer;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}